[submodule "component-detection-dependency-submission-action"]
	path = component-detection-dependency-submission-action
	url = https://github.com/advanced-security/component-detection-dependency-submission-action.git
